{{- partial "init.html" . -}}

<!DOCTYPE html>
<html dir="ltr" lang="{{.Site.Language.Lang}}" xmlns="http://www.w3.org/1999/xhtml">
  {{ if (.Params.page_options.plain ) }}
    {{- partial "head-plain" . -}}
  {{ else }}
    {{- partial "head" . -}}
  {{ end }}

{{ if (.Params.page_options.rhino_bg) }}
  <body class="rhino-bg">
{{ else }}
  <body>
  {{ end }}
    {{ if (.Params.page_options.container_layout) }} <!--New container layouts-->

    {{- block "header-container" . }}
        {{- partial "header" . -}}
    {{- end }}
    <div class="content-wrapper">
      {{ if .Params.page_options.toc }}
        {{ partial "toc.html" . }}
      {{ end }}
        <div class="content-container">
        {{- block "main" . }}
        {{- end }}
      </div>
      </div>
      {{- block "footer-container" . }}
      {{- partial "footer" . -}}
    {{- end }}

    {{- partial "js-scripts" . }}
    {{ else if (not .Params.page_options.plain ) }} <!--Regular layouts-->
      <div id="mask"></div>
      {{- block "header" . }}
          {{- partial "header" . -}}
      {{- end }}
      <div class="outerbox">
        {{- block "main" . }}
        {{- end }}
        {{- block "footer" . }}
          {{- partial "footer" . -}}
        {{- end }}
      </div>
      {{- partial "js-scripts" . }}
    {{ else }}  <!--Plain pages-->
      {{- block "main" . }}
      {{- end }}
    {{ end }}
  </body>
</html>
