
/* 
##################################################################
# Enable border-box sizing site-wide
##################################################################
*/
// 6-Jan-2020, BG: added as part of making the new /learn page render better
// 1-Nov-2022, MK: removed because it's affecting more than the learn page and it's not clear to me what it did. Probably obsolete with the refactoring of learn page
// *, *:before, *:after {
// 	box-sizing: border-box; 
// }

/* 
##################################################################
# Highlight div containers should be responsive in their context
##################################################################
*/
div.highlight {
    width: 99%;
    font-size: 14px;
}

div.highlight pre {
    white-space: pre-wrap;
    word-break: break-word;
}

:target:before {
    content: "";
    display: block;
    height: $global-nav-height-collapsed+15; // add a 15 to adjust for navbar padding
    margin: -$global-nav-height-collapsed 0 0;   
	pointer-events: none; //quickfix for WWW-1696
}

/* 
##################################################################
# Default markdown tables should have more spacing between headers
##################################################################
*/
th {
    padding-right: 10px;
}


/* 
##################################################################
# Discourse topics lists container. These are via an iframe with 
# their own style, set as part of our default Discourse theme:
# https://discourse.mcneel.com/admin/customize/themes/10/common/embedded_scss/edit
# Docs here: 
# https://meta.discourse.org/t/embedding-a-list-of-discourse-topics-in-another-site/125911
##################################################################
*/
d-topics-list iframe{
	width: 100% !important;
	padding-left: 10px;
	padding-right: 10px;
}


/* 
##################################################################
# Code samples that have tabs for each language
##################################################################
*/
.codetab {
	overflow: hidden;
  }
  
  .codetab button {
	background-color: inherit;
	border-radius: 0px;
	border: none;
	float: left;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	color: #337ab7;
  }
  
  .codetab button:hover {
	background-color: #eeeeee;
	border-radius: 4px;
  }
  
  .codetab button.active {
	background-color: #337ab7;
	border-radius: 4px;
	color: white;
  }
  
  /* This is a bit of a kludge due to how highlightjs.html selects the codetab-content, but
  it is preferable to making the javascript slower and less maintainable. See: WWW-2746 */
  .codetab-content,
  .codetab-content1,
  .codetab-content2,
  .codetab-content3,
  .codetab-content4,
  .codetab-content5,
  .codetab-content6,
  .codetab-content7,
  .codetab-content8,
  .codetab-content9,
  .codetab-content10,
  .codetab-content11,
  .codetab-content12,
  .codetab-content13,
  .codetab-content14,
  .codetab-content15,
  .codetab-content16,
  .codetab-content17,
  .codetab-content18,
  .codetab-content19,
  .codetab-content20, {
	  display: none;
	  padding: 6px 12px;
	  background-color: $codetab-background;
	  border: 1px solid #ccc;
    border-radius: 4px;
  }

/* 
####################################################################
# Highlight https://highlightjs.readthedocs.io/en/latest/readme.html
####################################################################
*/

/* for block of code */
.hljs {
	background-color: $codetab-background;
}

.hljs-ln-code {
	border-bottom: none;
}

td.hljs-ln-line.hljs-ln-code {
	padding-left: 0.5em;
}

.hljs-ln-n {
    padding-right: 0.5em;
}


/* 
####################################################################
# Highlight.js linenumbers plugin overrides
####################################################################
*/

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
	border-bottom: none;
    vertical-align: top;
	word-break: normal;
}

.hljs-ln-numbers {
  display: none;
}

.line-numbers .hljs-ln-numbers {
	display: block;
}

/* 
####################################################################
# MathJax css style overrides
####################################################################
*/
.MathJax, .MathJax_Display  {
  display: inline !important;
  text-align: center;
  margin: 1em 0;
}

// 1-Nov-2022, MK: Added because "sign in" and "my account" would split into two lince on some screen sizes
.logged_out a{
	display: inline-block;
  width: max-content;
}
.logged_in a{
	display: inline-block;
  width: max-content;
}


/* 
####################################################################
# Rhino 8 What's New overrides
####################################################################
*/

.v8-new-description {
  padding-top: 4px;
  padding-bottom: 8px;
}

#captions {
  background-color: red
  ;
}


.video-player {
  position: relative;
  width: 100%;
  text-align:center;
}
.video-player video {
  width: 100%;
  display: block;
}

.video-player .caption-locator {
  position:absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
}
.video-player .rma-caption {
  display:inline-block;
  position: relative;
  color:white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 3px 6px;
  height:1.5em;
  text-align:center;
  width: auto;
}


/* 
####################################################################
# Google Search Results Overrides
####################################################################
*/

.gs-snippet {color: #333 !important; font-size:12pt !important;}
.gsc-control-cse { max-width: 700px !important; margin-left:200px !important;}
.gs-title { 
  font-size: 16pt !important; 
  b {
    font-size: 16pt !important;
  }
}


/* 
####################################################################
# Extra Learn Grid override for width Overrides
####################################################################
*/

.grid-width {
	width: auto;
}


/* 
####################################################################
# (Back)Tick (Back)Tick code styling
####################################################################
*/
// code {
//   background-color: rgb(246, 246, 246);
//   border-color: rgb(219,219,219);
//   border-radius: 2px;
//   border-width: 1px;
//   border-style: solid;
//   padding: 1px 3px 1px 3px; 
//   color: rgb(211, 49, 93);
//   font-size: 0.85em;
// }
