
// ==============================
// Variables
// ==============================

// ========== Global ========== //
// Font and Line Height
$global-font-family: 'Roboto', sans-serif !important;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.5;

// ========== Headings ========== //
$global_h1_size: 30px; // pre-font-size-discussion: 36px
$global_h2_size: 24px; // pre font-size discussion: 28px;
$global_h3_size: 21px; // pre font-size discussion: 22px;
$global_h4_size: 18px; // pre font-size discussion: 18px;
$global_h5_size: 16px; // pre font-size discussion: 16px;
$global_h6_size: 14px; // pre font-size discussion: 14px;

// Desktop MaxWidth
$global-desktop-maxwidth: 1110px;

// Mobile/Responsive MaxWidth
$global-mobile-maxwidth: 768px;

// Navbar
$global-nav-height-large: 125px;
$global-nav-height-collapsed: 60px;

// Link colors
$global-link-color: #901010;
$global-link-hover-color: #DB1818;
$global-link-visited-color: #A24242;

// Color of the background
$global-background-color: #fff !default;
$global-background-color-dark: #292a2d !default;

// Various colors
$global-light-color: white !default;
$global-light-grey: #ececec !default;
$global-medium-light-grey: #c2c2c2 !default;
$global-medium-grey: #858585 !default;
$global-dark-grey: #4e4e4e !default;
$global-rhino-color: #990000 !default;
$global-ceros-color: #858585 !default;
$global-platform-color: #49abe9 !default;

// Default buttons on Rhino website
// This is used for student/teacher button on homepage
// as well as default buttons for download pages, etc.
$button-active-dark: #990000;
$button-active-light: #d01010;
$button-border-color: #d02718;
$button-text-color: #ffffff;
$button-shadow-color: #810e05;

// Border radius for rounded rectangles
$global-border-radius: 10px;

$global-font-secondary-color: #a9a9b3 !default;
$global-font-secondary-color-dark: #a9a9b3 !default;

// fontawesome
$fa-font-path: "../webfonts";

// code-blocks (pre, codetab-content, highlight)
$codetab-background: #f8f8f8 !default;

// ========== call-out ========== //
// Color map of the call-out
$call-out-color-map: (
  'note': #448aff,
  'abstract': #00b0ff,
  'info': #00b8d4,
  'tip': #00bfa5,
  'success': #00c853,
  'question': #000000,
  'warning': #ff9100,
  'failure': #ff5252,
  'danger': #ff1744,
  'bug': #f50057,
  'example': #651fff,
  'quote': #9e9e9e,
  'new': #5e9453,
) !default;

// Color map of the call-out background
$call-out-background-color-map: (
  'note': rgba(68, 138, 255, 0.1),
  'abstract': rgba(0, 176, 255, 0.1),
  'info': rgba(0, 184, 212, 0.1),
  'tip': rgba(0, 191, 165, 0.1),
  'success': rgba(0, 200, 83, 0.1),
  'question': rgba(153, 153, 153, 0.1),
  'warning': rgba(255, 145, 0, 0.1),
  'failure': rgba(255, 82, 82, 0.1),
  'danger': rgba(255, 23, 68, 0.1),
  'bug': rgba(245, 0, 87, 0.1),
  'example': rgba(101, 31, 255, 0.1),
  'quote': rgba(159, 159, 159, 0.1),
  'new': rgba(94, 138, 83, 0.1),
) !default;
// ========== call-out ========== //

$MAX_LENGTH: 12000px;
