@charset "utf-8";

@import "_variables";
@import "_override";

@import "_mixin/index";

@import "_core/base";
@import "_core/layout";
@import "_core/navigation";

@import "twentytwenty/twentytwenty";
@import "hugo-easy-gallery/hugo-easy-gallery";

@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";

@import "_page/index";
@import "_page/home";
@import "_page/support";
@import "_page/download";
@import "_page/scripting";

@import "_mixin/index";

@import "_partial/header";
@import "_partial/search";
@import "_partial/footer";
@import "_partial/pagination";
@import "_partial/card";
@import "_partial/call-out";
@import "_partial/details";
@import "_partial/platform-switch";
@import "_partial/masonry";
@import "_partial/mask";
@import "_partial/comparison_table";
@import "_partial/app-engine-html";

@import "_shortcodes/_left-selector-cards";
@import "_shortcodes/_link-card";

/* Placed here to override the partial card style in the learn page galleries */
/* TODO:: Dan wants to fix Card styling so this is not neccesary. */
@import "_page/learn";
@import "_page/guide";

@import "_core/media";

@import "_custom";
/* Site-specific custom style overrides */
@import "../../../../static/scss/_site-override";

// media print overrides to rule them all
@import "_print";