# https://gohugo.io/getting-started/configuration/
# In local "development" builds, baseURL is always switched to localhost
# For "production" of the site, AWS Amplify deploys with "environment" - see the production/config.toml for overrides
baseURL = "http://developer.rhino3d.com" #TODO: We mnight need to switch this...
title = "Rhino Developer Docs"
# assetDir = "static"
defaultContentLanguage = 'en'
defaultContentLanguageInSubdir = true
timeout = '60s'
theme = "rhino3d.com-theme"
enableGitInfo = true
disableKinds = ["RSS"]
buildFuture = true

[[module.mounts]]
source = 'assets'
target = 'assets'

[[module.mounts]]
source = 'static'
target = 'assets'


[security.funcs]
    getenv = ['^HUGO_', 'MCNEEL_REGION']

[server]
[[server.headers]]
  for = '/**.3dm'
  [server.headers.values]
    Access-Control-Allow-Origin= '' # use for allowing access to 3rd party viewer (rview)

[params]
  nwo = "mcneel/developer.rhino3d.com" # github repository (name with owner)
  latestRhinoVersion = 8
  supportedPlatforms = "Windows and macOS" # used for unfurls
  siteRootURL = "/" # used in navigation banner
  rhinoURL = "https://www.rhino3d.com"
  rhinoURLNewSource = "https://www.rhino3d.com/new-source"
  sitemapBaseURL = "https://developer.rhino3d.com"
  navBarShouldResize = false
  supportsChat = false
  siteNavLogo = "/images/rhinodevlogo.png"
  logoTitleTextPrimary = "Rhino"
  logoTitleTextSecondary = "Developer"
  protectedMark = "®"
  discourseURL = "https://discourse.mcneel.com"
  forestryBaseURL = "https://app.forestry.io/sites/9bs6ghwu05ji2w/#/pages/content"  # deprecated; can be removed soon
  facebookURL = "https://www.facebook.com/McNeelRhinoceros/"
  twitterURL = "https://twitter.com/bobmcneel"
  linkedinURL = "https://www.linkedin.com/groups/75313/"
  youtubeURL = "https://www.youtube.com/user/RhinoGuide/videos"
  vimeoURL = "https://vimeo.com/rhino"
  bloggerURL = "http://blog.rhino3d.com/"
  food4rhinoURL = "https://www.food4rhino.com"
  [params.tableOfContents]
    endLevel = 3
    startLevel = 2

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    anchorLineNos = true
    guessSyntax = true
    style = "vs"

# https://gohugo.io/templates/sitemap-template/
[sitemap]
  changefreq = "daily"

[languages]
  [languages.en]
    contentDir = "content/en"
    languageName = "English"
    title = "Rhino Developer Docs"
    weight = 1
    [languages.en.params]
      description = "Rhino is a 3D modeler used to create, edit, analyze, document, render, animate, and translate NURBS* curves, surfaces, and solids, point clouds, SubD surfaces, and polygon meshes. There are no limits on complexity, degree, or size beyond those of your hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates. All Rights Reserved."
      siteNav = "original-site-navigation"
      imagesDir = "images"
      docLang = "en-us" # the language code used on docs.mcneel.com
    [languages.en.taxonomies]
      "tag" = "tags"
      "category" = "categories"
      "platform" = "platforms"
      "task" = "tasks"
      "level" = "levels"
      "version" = "versions"
    [languages.en.menu]
      [[languages.en.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "Guides"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.en.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "Samples"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.en.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.en.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "Videos"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.en.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "Community"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6
  [languages.cn]
    contentDir = "content/cn"
    languageName = "中文简体"
    title = "Rhino Developer Docs"
    weight = 1
    [languages.cn.params]
      description = "Rhino is a 3D modeler used to create, edit, analyze, document, render, animate, and translate NURBS* curves, surfaces, and solids, point clouds, SubD surfaces, and polygon meshes. There are no limits on complexity, degree, or size beyond those of your hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates. All Rights Reserved."
      siteNav = "original-site-navigation"
      imagesDir = "images"
      docLang = "zh-cn" # the language code used on docs.mcneel.com
    [languages.cn.taxonomies]
      "tag" = "tags"
      "category" = "categories"
      "platform" = "platforms"
      "task" = "tasks"
      "level" = "levels"
      "version" = "versions"
    [languages.cn.menu]
      [[languages.cn.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "Guides"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.cn.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "Samples"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.cn.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.cn.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "Videos"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.cn.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "Community"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6
  [languages.de]
    contentDir = "content/de"
    languageName = "German"
    title = "Rhino Developer Docs"
    weight = 1
    [languages.de.params]
      description = "Rhino is a 3D modeler used to create, edit, analyze, document, render, animate, and translate NURBS* curves, surfaces, and solids, point clouds, SubD surfaces, and polygon meshes. There are no limits on complexity, degree, or size beyond those of your hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates. All Rights Reserved."
      siteNav = "original-site-navigation"
      imagesDir = "images"
      docLang = "de-de" # the language code used on docs.mcneel.com
    [languages.de.taxonomies]
      "tag" = "tags"
      "category" = "categories"
      "platform" = "platforms"
      "task" = "tasks"
      "level" = "levels"
      "version" = "versions"
    [languages.de.menu]
      [[languages.en.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "Guides"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.de.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "Samples"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.de.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.de.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "Videos"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.de.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "Community"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6
  [languages.es]
    contentDir = "content/es"
    languageName = "Español"
    title = "Rhinoceros - Herramientas de modelado para diseñadores"
    weight = 4
    [languages.es.params]
      description = "Rhino es un modelador 3D que se utiliza para crear, editar, analizar, documentar, renderizar, animar y traducir curvas NURBS*, superficies y sólidos, nubes de puntos, superficies SubD y mallas poligonales. No hay límite de complejidad, grado o tamaño, a parte del que tenga su hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates (TLM, Inc.). Todos los derechos reservados."
      #rhinoURL = "https://www.rhino3d.com/es"
      imagesDir = "images"
      docLang = "es-es" # the language code used on docs.mcneel.com
      [languages.es.params.navigation]
        help = "Ayuda"
    [languages.es.taxonomies]
      "etiqueta" = "etiquetas"
      "categoría" = "categorías"
      "plataforma" = "plataformas"
      "tarea" = "tareas"
      "nivel" = "niveles"
    [languages.es.menu]
      [[languages.es.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "Guías"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.es.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "Muestras"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.es.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.es.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "Vídeos"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.es.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "Comunidad"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6
  [languages.fr]
    contentDir = "content/fr"
    languageName = "Français"
    title = "Rhino Developer Docs"
    weight = 1
    [languages.fr.params]
      description = "Rhino is a 3D modeler used to create, edit, analyze, document, render, animate, and translate NURBS* curves, surfaces, and solids, point clouds, SubD surfaces, and polygon meshes. There are no limits on complexity, degree, or size beyond those of your hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates. All Rights Reserved."
      siteNav = "original-site-navigation"
      imagesDir = "images"
      docLang = "fr-fr" # the language code used on docs.mcneel.com
    [languages.fr.taxonomies]
      "tag" = "tags"
      "category" = "categories"
      "platform" = "platforms"
      "task" = "tasks"
      "level" = "levels"
      "version" = "versions"
    [languages.fr.menu]
      [[languages.en.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "Guides"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.fr.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "Samples"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.fr.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.fr.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "Videos"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.fr.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "Community"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6
  [languages.it]
    contentDir = "content/it"
    languageName = "Italiano"
    title = "Rhino Developer Docs"
    weight = 1
    [languages.it.params]
      description = "Rhino is a 3D modeler used to create, edit, analyze, document, render, animate, and translate NURBS* curves, surfaces, and solids, point clouds, SubD surfaces, and polygon meshes. There are no limits on complexity, degree, or size beyond those of your hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates. All Rights Reserved."
      siteNav = "original-site-navigation"
      imagesDir = "images"
      docLang = "it-it" # the language code used on docs.mcneel.com
    [languages.it.taxonomies]
      "tag" = "tags"
      "category" = "categories"
      "platform" = "platforms"
      "task" = "tasks"
      "level" = "levels"
      "version" = "versions"
    [languages.it.menu]
      [[languages.it.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "Guides"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.it.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "Samples"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.it.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.en.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "Videos"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.it.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "Community"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6
  [languages.jp]
    contentDir = "content/jp"
    languageName = "日本語"
    title = "Rhino Developer Docs"
    weight = 1
    [languages.jp.params]
      description = "Rhino is a 3D modeler used to create, edit, analyze, document, render, animate, and translate NURBS* curves, surfaces, and solids, point clouds, SubD surfaces, and polygon meshes. There are no limits on complexity, degree, or size beyond those of your hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates. All Rights Reserved."
      siteNav = "original-site-navigation"
      imagesDir = "images"
      docLang = "ja-jp" # the language code used on docs.mcneel.com
    [languages.jp.taxonomies]
      "tag" = "tags"
      "category" = "categories"
      "platform" = "platforms"
      "task" = "tasks"
      "level" = "levels"
      "version" = "versions"
    [languages.jp.menu]
      [[languages.jp.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "ガイド"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.jp.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "サンプル"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.jp.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.jp.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "動画"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.jp.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "コミュニティ"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6
  [languages.kr]
    contentDir = "content/kr"
    languageName = "한국어"
    title = "Rhino Developer Docs"
    weight = 1
    [languages.kr.params]
      description = "Rhino is a 3D modeler used to create, edit, analyze, document, render, animate, and translate NURBS* curves, surfaces, and solids, point clouds, SubD surfaces, and polygon meshes. There are no limits on complexity, degree, or size beyond those of your hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates. All Rights Reserved."
      siteNav = "original-site-navigation"
      imagesDir = "images"
      docLang = "ko-kr" # the language code used on docs.mcneel.com
    [languages.kr.taxonomies]
      "태그" = "태그"
      "카테고리" = "카테고리"
      "플랫폼" = "플랫폼"
      "작업" = "작업"
      "레벨" = "레벨"
      "버전" = "버전"
    [languages.kr.menu]
      [[languages.kr.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "가이드"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.kr.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "샘플"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.kr.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.kr.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "동영상"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.kr.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "커뮤니티"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6
  [languages.tw]
    contentDir = "content/tw"
    languageName = "中文繁體"
    title = "Rhino Developer Docs"
    weight = 1
    [languages.tw.params]
      description = "Rhino is a 3D modeler used to create, edit, analyze, document, render, animate, and translate NURBS* curves, surfaces, and solids, point clouds, SubD surfaces, and polygon meshes. There are no limits on complexity, degree, or size beyond those of your hardware."
      author = "Robert McNeel & Associates"
      copyright = "Copyright © 1993-{year} Robert McNeel & Associates. All Rights Reserved."
      siteNav = "original-site-navigation"
      imagesDir = "images"
      docLang = "zh-tw" # the language code used on docs.mcneel.com
    [languages.tw.taxonomies]
      "tag" = "tags"
      "category" = "categories"
      "platform" = "platforms"
      "task" = "tasks"
      "level" = "levels"
      "version" = "versions"
    [languages.tw.menu]
      [[languages.tw.menu.main]]
        identifier = "guides"
        pre = ""
        post = ""
        name = "Guides"
        url = "/guides"
        title = ""
        weight = 2
      [[languages.tw.menu.main]]
        identifier = "samples"
        pre = ""
        post = ""
        name = "Samples"
        url = "/samples"
        title = ""
        weight = 3
      [[languages.tw.menu.main]]
        identifier = "api"
        pre = ""
        post = ""
        name = "API"
        url = "/api"
        title = ""
        weight = 4
      [[languages.tw.menu.main]]
        identifier = "videos"
        pre = ""
        post = ""
        name = "Videos"
        url = "/videos"
        title = ""
        weight = 5
      [[languages.tw.menu.main]]
        identifier = "community"
        pre = ""
        post = ""
        name = "Community"
        url = "https://discourse.mcneel.com/c/rhino-developer"
        title = ""
        weight = 6