[submodule "static/api/RhinoCommon"]
	path = static/api/RhinoCommon
	url = https://github.com/mcneel/rhinocommon-api-docs.git
	shallow = true
[submodule "static/api/grasshopper"]
	path = static/api/grasshopper
	url = https://github.com/mcneel/grasshopper-api-docs.git
	shallow = true
[submodule "static/api/rhinoscript"]
	path = static/api/rhinoscript
	url = https://github.com/mcneel/rhinoscript-api-docs.git
	shallow = true
[submodule "static/api/cpp"]
	path = static/api/cpp
	url = https://github.com/mcneel/rhino-cpp-api-docs.git
	shallow = true
