[submodule "api/RhinoCommon"]
	path = api/RhinoCommon
	url = https://github.com/mcneel/rhinocommon-api-docs.git
[submodule "api/RhinoCommonWin"]
	path = api/RhinoCommonWin
	url = https://github.com/mcneel/rhinocommon-api-docs.git
