{{ define "main" }}
<div class="single-content-area toc-page">
  {{ if .Params.page_options.toc }}
    {{ partial "toc.html" . }}
  {{ end }}
  <div class="main-content {{ if not .Params.page_options.toc }}toc-no{{ if .Params.page_options.narrow }} toc-no-narrow{{ end }}{{ end }}">
    {{/* partial "breadcrumbs.html" . */}}
    {{ if ne false (.Params.page_options.show_title) }}
    <div class="feature-title-container">
      <div class="feature-title">{{ .Page.Title }}</div>{{ if eq (int .Site.Params.latestRhinoVersion) (int .Params.included_in.since) }}<div class="new-callout"><a href="/{{ .Site.Params.latestRhinoVersion}}/new">{{ i18n "NEW-in-Vx" . }}</a></div>{{ end }}{{- partial "platform-callout" . -}}        
    </div>
    {{ end }}
    <p>{{ partial "byline.html" . }}</p> 
    {{ .Content }}
    {{- partial "edit_button.html" . -}}
    {{/*  {{- partial "platform-switch" . -}}  */}}    
  </div>
</div>
{{ end }}

