{% if page.authors and page.authors != 'unset' %}
  <span class="guide_byline">
    {% if page.authors.size > 1 %}
    {% assign iterator_count = page.authors.size | minus: 1 %}
    by
      {% for i in (0..iterator_count) %}
        {% assign check_authors_contact = page.author_contacts[i] %}
        {% if check_authors_contact contains '@' %}
          <a href="mailto:{{ page.author_contacts[i] }}">{{ page.authors[i] }}</a>
        {% else %}
          <a href="https://discourse.mcneel.com/users/{{ page.author_contacts[i] }}/activity">{{ page.authors[i] }}</a>
        {% endif %}
        {% if i == iterator_count %}
          {% break %}
        {% endif %} and
      {% endfor %}
    {% else %}
      {% assign check_author_contact = page.author_contacts[0] %}
      {% if check_author_contact contains '@' %}
        by <a href="mailto:{{ page.author_contacts }}">{{ page.authors }}</a>
      {% else %}
        by <a href="https://discourse.mcneel.com/users/{{ page.author_contacts }}/activity">{{ page.authors }}</a>
      {% endif %}
    {% endif %}
  </span>
{% endif %}
