{% if page.authors and page.authors != 'unset' %}
  <span class="guide_byline">
    {% if page.authors.size > 1 %}
    {% assign iterator_count = page.authors.size | minus: 1 %}
    by
      {% for i in (0..iterator_count) %}
        {% for author in site.data.authors %}
          {% if author.name == page.authors[i] %}
            {% assign the_author = author %}
          {% endif %}
        {% endfor %}
        <a href="{{ site.baseurl }}/authors/{{ the_author.name }}">{{ the_author.display_name }}</a>
        {% if i == iterator_count %}
          {% break %}
        {% endif %} and
      {% endfor %} (Last modified: <a href="https://github.com/{{ site.nwo }}/commits/{{ site.git_branch | default: "master" }}/{{ page.path }}" target="_blank">{{ page.last_modified_at | date_to_string }}</a>)
    {% else %}
      {% for author in site.data.authors %}
        {% if author.name == page.authors[0] %}
          {% assign the_author = author %}
        {% endif %}
      {% endfor %}
      by <a href="{{ site.baseurl }}/authors/{{ the_author.name }}">{{ the_author.display_name }}</a> (Last modified: <a href="https://github.com/{{ site.nwo }}/commits/{{ site.git_branch | default: "master" }}/{{ page.path }}" target="_blank">{{ page.last_modified_at | date_to_string }}</a>)
    {% endif %}
  </span>
{% endif %}
