<header class="site-header">


    <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/rhinodevlogo148x128.png" alt="Rhino Developer Docs" height="48" width="56"></a><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      {% assign pages = site.pages | sort:"order"  %}
      <div class="trigger">
      	<a class="page-link" href="{{ site.baseurl }}/">Welcome</a>
        {% for page in pages %}
          {% if page.title != 'Administration' %}
            {% if page.title != 'Blog' %}
              {% if page.title and page.order %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        <a class="page-link" href="http://discourse.mcneel.com/c/rhino-developer">Forums</a>
      </div>
    </nav>

</header>
