{% assign stable_branch = site.versions.stable | default: "master" %}

<!-- The following are "casts" from the string to number using math filters... -->
{% assign stable = stable_branch | plus: 0 %}
{% assign current = site.git_branch | plus: 0 %}

<!-- ...but we need to check to see if the original branches were numbers or not... -->
{% capture test_var1 %}{{ stable_branch | json }}{% endcapture %}
{% capture test_var2 %}{{ site.git_branch | json }}{% endcapture %}

{% assign stable_is_number = true %}
{% assign current_is_number = true %}
{% if test_var1 contains '"' %}
  {% assign stable_is_number = false %}
{% endif %}
{% if test_var2 contains '"' %}
  {% assign current_is_number = false %}
{% endif %}

{% if current == stable %}
  <div class="version-banner">
{% else %}
  <div class="version-banner version-banner-warning">
{% endif %}
    {% if site.git_branch == "master" %}
      <strong>WARNING:</strong> You're viewing the <strong>Rhino WIP</strong> version of this page! <a href="{{site.baseurl_orig}}{{ page.url }}">View the current version instead.</a>
    {% else %}
      {% if current_is_number and stable_is_number %}
        {% if current < stable %}
          <strong>WARNING:</strong> You're viewing the older <strong>Rhino {{ site.git_branch | upcase }}</strong> version of this page! <a href="{{site.baseurl_orig}}{{ page.url }}">View the <strong>Rhino {{ site.versions.stable | upcase }}</strong> version instead.</a>
        {% endif %}
        {% if current == stable %}
          <strong>NEW:</strong> Welcome to the <strong>Rhino {{ site.git_branch | upcase }}</strong> version of this page! <a href="{{site.baseurl_orig}}/{{ current | minus: 1 }}{{ page.url }}">Looking for the older Rhino {{ current | minus: 1 }} version?</a>
        {% endif %}
        {% if current > stable %}
          <strong>WARNING:</strong> You're viewing the <strong>Rhino {{ site.git_branch | upcase }}</strong> version of this page! <a href="{{site.baseurl_orig}}{{ page.url }}">View the current version instead.</a>
        {% endif %}
      {% else %}
        <strong>WARNING:</strong> You're viewing the <strong>Rhino {{ site.git_branch | upcase }}</strong> version of this page! <a href="{{site.baseurl_orig}}{{ page.url }}">View the current version instead.</a>
      {% endif %}
    {% endif %}
</div>

<!-- Check the version banner for broken links and remove the link if found -->
<!-- this is not currently working as intended, so I'm disabling it until I can figure it out -->
<!-- stable = Looking for the Rhino 5 Version? -->
<!-- older = Check out the Rhino 6 version instead -->
<!-- wip = Check out the stable version instead -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function()
{
  var splitPath = window.location.pathname.split("/");
  var linkURL = "/5/" + splitPath.splice(2,splitPath.length-2).join("/");

  $.get(linkURL).fail(function ()
  {
    var $aTag = $("div.version-banner > a");
    $aTag.text("Looking for the older Rhino 5 site?");
    $aTag.attr("href", "/5/");
  });
});
</script>
