{{ define "main" }}
<div class="single-content-area flex-vertical">
    <div class="page-title">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    </div>
    <div class="banner">
        {{ $banner := .Params.banner }}
        {{ with .Resources.GetMatch  ( printf "%s" .Params.banner)  }}
                <img src="{{ .RelPermalink }}" alt="{{ . }}"" style="width:100%">
        {{ end }}
    </div>
    <section class="columns">
        {{ .Content }}
    </section>
    {{- partial "edit_button.html" . -}}
</div>
{{end}}
