/**
 * Site header
 */
.site-header {
    /*border-top: 5px solid $grey-color-dark;*/
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    @media print {
      border-style: none;
      min-height: 0px;
      margin-bottom: 2px;
      padding-bottom: 2px;
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
    @include media-query($on-phone) {
        font-size: 20px;
    }
    @media print {
        font-size: 14px;
        line-height: 18px;
        margin-left: 20px;
    }
}

.site-title img {
  @media print {
    display: none;
  }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        padding-bottom: 16px; // pads nav so "active" border appears at bottom

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &.active {
          border-bottom: 2px solid #e8e8e8;
          // font-weight: 400;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 0px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        z-index: 10;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 12px;
            text-align: center;
            border-style: none;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            background-color: white;

        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
    @media print {
      .trigger {
          clear: both;
          display: none;
      }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list {
  @media print{
    display: none;
  }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  @media print {
    display: none;
  }
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  @media print {
    display: none;
  }
}


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/** Remove html links when printing */

@media print {
  a[href]:after {
    content: none !important;
  }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Version banner
 */

.version-banner {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000000;
  text-align: center;
  background-color: #424242;
  padding: 5px;
  color: white;
  font-style: italic;
}

.version-banner a,
.version-banner a:hover,
.version-banner a:visited {
  color: lighten($brand-color, 25%);
}

// offset anchor location for headings so they're not obscured by the banner
@if $branch != "" and $branch != "master" {
  h1[id]:before,
  h2[id]:before,
  h3[id]:before,
  h4[id]:before,
  h5[id]:before,
  h6[id]:before {
    display: block;
    content: "";
    margin-top: -36px;
    height: 36px;
    visibility: hidden;

    @include media-query($on-palm) {
      margin-top: -61px;
      height: 61px;
    }
  }
}

/* Breadcrumbs */

ol.breadcrumb {
  margin-left: 0;
}
