{{ define "main" }}
<div class="single-content-area toc-page">
  {{ if .Params.page_options.toc }}
    {{ partial "toc.html" . }}
  {{ end }}
  <div class="main-content {{ if not .Params.page_options.toc }}toc-no{{ end }}">
    <div class="feature-title-container">
      <div class="feature-title">{{ .Page.Title }}</div>{{- partial "platform-callout" . -}}
    </div>
    {{ .Page.Description }}
    
    {{ .Content }}
    {{- partial "edit_button.html" . -}}
  </div>
</div>
{{- partial "highlightjs" . }}
{{ end }}