// These styles are used by HTML migrated from AppEngine

.proxy-skin.skin-static {
    *, *:before, *:after {
        box-sizing: border-box; }
      
      .toc-no {
        width: 100%!important;
      }
      
      .main-content {
          width: 100% !important;
      }
      #page_content {
          width: 100% !important;
      }
      
    /* 12-column sizing */
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
        float: left;
    }
    .col-xs-1 { width: calc(1 * 100% / 12);}
    .col-xs-2 { width: calc(2 * 100% / 12);}
    .col-xs-3 { width: calc(3 * 100% / 12);}
    .col-xs-4 { width: calc(4 * 100% / 12);}
    .col-xs-5 { width: calc(5 * 100% / 12);}
    .col-xs-6 { width: calc(6 * 100% / 12);}
    .col-xs-7 { width: calc(7 * 100% / 12);}
    .col-xs-8 { width: calc(8 * 100% / 12);}
    .col-xs-9 { width: calc(9 * 100% / 12);}
    .col-xs-10 { width: calc(10 * 100% / 12);}
    .col-xs-11 { width: calc(11 * 100% / 12);}
    .col-xs-12 { width: calc(12 * 100% / 12);}


    .col-xs-offset-3 {
        margin-left: 25%;
    }
    .col-xs-offset-4 {
        margin-left: 33.33333333%;
    }

    /* 12-column sizing */
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
        float: left;
    }
    .col-md-1 { width: calc(1 * 100% / 12);}
    .col-md-2 { width: calc(2 * 100% / 12);}
    .col-md-3 { width: calc(3 * 100% / 12);}
    .col-md-4 { width: calc(4 * 100% / 12);}
    .col-md-5 { width: calc(5 * 100% / 12);}
    .col-md-6 { width: calc(6 * 100% / 12);}
    .col-md-7 { width: calc(7 * 100% / 12);}
    .col-md-8 { width: calc(8 * 100% / 12);}
    .col-md-9 { width: calc(9 * 100% / 12);}
    .col-md-10 { width: calc(10 * 100% / 12);}
    .col-md-11 { width: calc(11 * 100% / 12);}
    .col-md-12 { width: calc(12 * 100% / 12);}


    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }    
    width: 100%;
    #page_content {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 5px 0;

        .column_half {
        flex: 1;
        padding: 10px;
        min-width: 250px;
        width: 50%;
        }

        .column_one {
        width: 100%;
        }
    }
    table.support_page {
        td {
            width: 30%;
            border-bottom: 0;
            padding: 0.2em 1em;
            vertical-align: top;
        }
        td.auto-style13 {
            border-right: 1px solid #ddd;
        }
        .auto-style4 {
            text-align: right;
            margin: 0;
            padding: 1em;
            width: auto !important;
            font-size: 80%;
        }
    }
    h2 {
        border-bottom: 0;
    }
    width: 100%;
    div.column_2third {
        width: 60%;
        float: left;
        padding: 0 1em;
    }
    div.column_third {
        width: 30%;
        float: left;
        padding: 0 1em;
    }
    .gallery-column {
        figure {
            width: 100%;
            font-size: 10px;
            margin-bottom: 5px;
            line-height: normal;
            display: block;
        }
    }
    figure {
        float: right;
        width: 30%;
        text-align: center;
        font-style: italic;
        font-size: 13px;
        text-indent: 0;
        border: thin silver solid;
        margin: 0.5em;
        padding: 0.5em;
        a {
            position: relative !important;
        }
        >img {
            display: block;
            float: left;
        }
        figcaption {
            width: 100%;
            font-size: 10px;
            margin-bottom: 5px;
            line-height: normal;
            display: block;
        }
    }
    .legacy_download_process {
        width: 100%;
    }
    .auto-style1 {
        text-align: right;
    }
    div.grid-row {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        &:nth-child(even) {
            div.grid {
                background-color: #f5f5f5;
            }
        }
    }
    div.grid-label {
        width: 340px;
        display: inline-block;
        font-size: 100%;
        text-align: right;
        float: left;
        clear: both;
        padding-right: 5px;
        height: 40px;
        font-weight: bold;
        line-height: 40px;
        vertical-align: middle;
    }
    div.grid-heading {
        width: 160px;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        float: left;
        font-size: 100%;
        font-weight: bold;
        color: #666;
    }
    div.grid {
        float: left;
        width: 160px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        &:nth-child(n+3) {
            border-left: 1px solid #bbb;
        }
        img.check-image {
            width: 60px;
            height: auto;
            padding-top: 5px;
        }
    }
    div.tip-bubble-source {
        display: none;
    }
    div.tip-bubble {
        width: 450px;
        .grid {
            &:nth-child(n+2) {
                border-left: 1px dotted #bbb;
            }
            &:nth-child(2n) {
                width: 160px;
            }
            &:nth-child(3n) {
                width: 140px;
            }
            width: 143px;
            height: 60px;
            line-height: initial;
        }
    }
}