<!-- Begin global javascripts for all pages js-scripts -->
{{- partial "jquery" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ (resources.Get "/script/rhino.js" | resources.Fingerprint).Permalink }}"></script>
{{ if .Site.Params.navBarShouldResize }}
  <script type="text/javascript" src="{{ (resources.Get "/script/header-scroll-standard.js" | resources.Fingerprint).Permalink }}"></script>
{{ end }}
<script type="text/javascript" src="{{ (resources.Get "/script/protocolcheck.js" | resources.Fingerprint).Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/script/theme.js" | resources.Fingerprint).Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/script/mcneel_accounts_login_status.js" | resources.Fingerprint).Permalink }}"></script>
<script>
    mca.addLogoutListenerForClientId(window.location.host == "www.rhino3d.com" ? "rhino3dWebsite" : "rhino3dWebsiteDEBUG", function (url) {
      console.log("Redirecting to logout URL: " + url);
      window.location.href = url;
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-512742-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-512742-1');
</script>

{{- if .Site.Params.supportsChat -}}
  {{- if in "en es fr de it" $.Site.Language -}}
    {{- partial "snapengage" . }}
  {{- end -}}
  {{- if in "kr" $.Site.Language -}}
    {{- partial "chat-talk-talk" . }}
  {{- end -}}
{{- end -}}
{{- partial "mathjax_support" . }}
{{- partial "anchorjs" . }}
{{- partial "twentytwenty" . }}
{{- partial "photoswipe" . }}
{{- partial "discourse-gallery-support" . }}

{{/*  Homepage video  */}}
{{ if .IsHome }}
{{- partial "video-sync-js" . }}
{{ end }}