<!-- Begin Site-Navigation -->
<!-- <div id="navigation">

  {{ if .Site.Menus.main }}
    <ul>
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  {{ end }}
</div> -->
<!-- End Site-Navigation -->

<div class="learnbar">
  <div class="dropdown">
    <button class="dropbtn">Product
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Rhinoceros</a>
      <a href="#">Grasshopper</a>
      <a href="#">Rhino.Inside.Revit</a>
      <a href="#">Developer</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Experience
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Getting Started</a>
      <a href="#">Basic</a>
      <a href="#">Intermediate</a>
      <a href="#">Advanced</a>
      <a href="#">Developer</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Task
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Modeling</a>
      <a href="#">Grasshopper</a>
      <a href="#">Rendering</a>
      <a href="#">Drawing</a>
      <a href="#">Fabrication</a>
      <a href="#">Rhino.Inside.Revit</a>
      <a href="#">Developer</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Format
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Tutorial</a>
      <a href="#">Video</a>
      <a href="#">Example</a>
      <a href="#">Guide</a>
      <a href="#">Live Webinar</a>
      <a href="#">Course</a>
      <a href="#">Developer</a>
      <a href="#">SDK</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">
      <i class="fa fa-search"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Search Box Placeholder</a>
      <a href="#">likely hoverover</a>
    </div>
  </div>
</div>
