<script type="module" src="{{ (resources.Get "/script/model-viewer.min.js" | resources.Fingerprint).Permalink }}"></script>
<script>
// Handles loading the events for <model-viewer>'s slotted progress bar
const onProgress = (event) => {
    const progressBar = event.target.querySelector('.mv-progress-bar');
    const updatingBar = event.target.querySelector('.mv-update-bar');
    updatingBar.style.width = `${event.detail.totalProgress * 100}%`;
    if (event.detail.totalProgress === 1) {
      progressBar.classList.add('hide');
      event.target.removeEventListener('progress', onProgress);
    } else {
      progressBar.classList.remove('hide');
    }
  };
  document.querySelector('model-viewer').addEventListener('progress', onProgress);
</script>