<div id="navbar">
  <div id="wrap">
    <!-- Search widget -->
    <div id="sitesearch">
      <!-- Bing Custom Search aka: Cognitive Services -->
      <!-- Custom searches are created and managed here: https://www.customsearch.ai/applications -->
      <!-- See 1Password: Azure Subscription Key credential for subscription key -->
      <form id="cref" action="/searchresults/">
        <label for="search"><input id="searchtext" type="text" name="q" size="24" value="" placeholder="{{ i18n "search-navbar" }}" /></label>  
        <input class="searchBox" type="submit" name="sa" size="2" aria-label="Search" value=" "/>
      </form>
    </div>

    <!-- The site Logo, site title and subtitle at the upper-left -->
    <div id="logo-container">
      <div id="logo-inner-container">
        <div id="logo-title-text">
          <a href="{{ .Site.Params.siteRootURL }}"><span id="logo-title-text-primary">{{ .Site.Params.logoTitleTextPrimary }}</span><span id="logo-title-text-secondary">{{ .Site.Params.logoTitleTextSecondary }}</span><sup id="protected-mark">{{ .Site.Params.protectedMark }}</sup></a>
        </div>
        <div id="logo-subtitle" {{- if eq .Site.Params.logoTitleTextHasDescenders true -}} style="margin-top:8px;" {{- end -}}>
          <a href="{{ .Site.Params.siteRootURL }}"><span class="logo-text-secondary">{{ i18n "product-tagline" }}</span></a>
        </div>
        
        <a href="{{ .Site.Params.siteRootURL }}"><img id="site-nav-logo" src="{{ .Site.Params.siteNavLogo }}" alt="Rhino Logo"/></a>
        <div class="clear"></div>
      </div>
      <div class="overlayMenuIcon" id="theoverlayMenuIcon">
        <span onclick="toggleMenu()"><i class="fa fa-bars" id="menuToggleIcon" style="color: #c2c2c2; font-size: 2.5em"></i></span>
      </div>
    </div>

    <!-- The Horizontal textual menu items -->
    <div class="menu-items" id="theMenuItems">
      {{- range .Site.Menus.main -}}
        {{- $url := .URL -}}
        {{- with .Page -}}
            {{- $url = .RelPermalink -}}
        {{- end -}}
        {{ $.Scratch.Set "target" "_self" }}
        {{ if (or (in $url "rhino3d.com") (hasPrefix $url "/")) }}
          {{ $.Scratch.Set "target" "_self" }}
        {{ else }}
          {{ $.Scratch.Set "target" "_blank" }}
        {{ end }}
        <a class="menu-item{{ if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }} active{{ end }}" href="{{ $url }}"{{ with .Title }}title="{{ . }}"{{ end }} target="{{ $.Scratch.Get "target" }}">
        {{- .Pre | safeHTML }}{{ .Name }}{{ .Post | safeHTML -}}
        </a>
      {{- end -}}
      <span class="logged_in">
        <a href="{{ .Site.Params.rhinoURL }}/my-account/" title="{{ i18n "logged-in-title" }}">{{ i18n "my-account" }}
        </a>
      </span>
      {{- if .Site.Params.supportsLogin -}}
        <span class="logged_in" style="height: 24px">
          <label class="nav-dropdown">

            <a class="dd-button" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/59/User-avatar.svg')">
              <div style="width: 100%; height: 100%;">
                <img class = "avatar" src="https://www.rhino3d.com/user/avatar/" alt="User Avatar">
              </div>
            </a>
          
            <input type="checkbox" class="dd-input" id="nav-avatar">
          
            <ul class="dd-menu">
              {{/*  <li onclick="toAccount()">
                <a>{{ i18n "my-account" }}</a>
              </li>
              <li class="divider"></li>  */}}
              <li onclick="logout()">
                <a>{{ i18n "sign-out" }}</a>
              </li>
            </ul>
            
          </label>
        </span>

        <span class="logged_out hidden">
          <a href="{{ .Site.Params.rhinoURL }}/my-account/" title="{{ i18n "sign-in-title" }}">{{ i18n "sign-in" }}</a>
        </span>
      {{- end -}}
    </div>

</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ (resources.Get "/script/mcneel_accounts_login_status.js" | resources.Fingerprint).Permalink }}"></script>
<script>
  const logout = () => {
        //First we see if the user is logged in.
        const clientId = window.location.host == "www.rhino3d.com" ? "rhino3dWebsite" : "rhino3dWebsiteDEBUG";
        var infoCookie = mca.utilities.getCookieForName("MCA_CLIENT_USER_SESSION_INFO-" + clientId);
  
        if (infoCookie)
          {
            //console.log("clientId:", clientId);
            //console.log("infocookie:", infoCookie)
            infoCookie = JSON.parse(infoCookie);
            const dropdownLogoutUrl = mca.utilities.buildURL(`/${encodeURIComponent(clientId)}/mcneel-accounts/logout`, {
              nonce: infoCookie.nonce,
              host_url: window.location.origin,
              dest_url: window.location.href
            });
            console.log("dropdownLogoutUrl:", dropdownLogoutUrl)
            window.location.href = dropdownLogoutUrl;
          }
          else{
          console.log("not logged in")
          }
  }

  const toAccount = () => {
    window.location.href = "/my-account";
  }

  //Click away
  $('#nav-avatar').click(function(event){
    event.stopPropagation();
  });

  $(window).click(function(event) {
    if(event.target.id == "nav-avatar"){
      event.stopPropagation();
    }
    else{
      //Hide the menus if visible
      $('#nav-avatar').prop('checked', false); 
    }
  });
</script>
