<div id="sitesearch">
<!-- Google CSE Search Box Begins  -->
<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at https://www.google.com/cse/docs/tos.html -->
<form id="cref" action="{{.Site.BaseURL}}/searchresults/">
  <input type="hidden" name="cref" value="007988927381198593803:mcq6pshqsn8" />
  <label for="search"><input id="searchtext" type="text" name="q" size="24" value="" placeholder="search" /></label>  
  <input class="searchBox" type="submit" name="sa" size="2" value=" " />
</form>
<!-- Google CSE Search Box Ends -->
</div>
