// ==============================
// Learn page
// ==============================

.ui-tabs {
	position: relative;
	padding: 0.2em;
	zoom: 1;

	/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
	.ui-tabs-panel {
		display: block;
		border-width: 0;
		padding: 1em 1.4em;
		background: none;
	}
	.ui-tabs-hide {
		display: none !important;
	}
}

.ui-tabs-vertical {
	width: 65em;
	.ui-tabs-nav {
		padding: 0.2em 0.1em 0.2em 0.2em;
		float: left;
		width: 20%;
		border-right: 1px solid $global-light-grey;
		margin-left: 0;
		li {
			list-style: none;
			position: relative;
			top: 0;
			right: -3px;
			float: left;
			padding: 0;
			white-space: nowrap;
			clear: left;
			width: 100%;
			border: 1px solid transparent;
			border-right-width: 0;
			border-left-width: 6px;
			margin: 0 -3px 0.2em 0;
			a {
				padding: 0.3em 1em 0.3em 0.3em;
				display: block;
				color: #666;
				font-size: 80%;
				&:hover {
					color: $global-rhino-color;
				}
			}
		}
		li.ui-state-default {
		}
		li.ui-state-hover {
			font-weight: bold;
		}
		li.ui-state-focus {
			outline: none;
		}
		:focus {
			outline: none;
		}
		li.ui-tabs-active {
			background-color: white !important;
			border: 1px solid $global-light-grey;
			background-color: white;
			border-left-width: 6px;
			border-right-width: 0;
			a {
				color: #000;
				border: 0;
			}
		}
	}

	.ui-tabs-panel {
		padding: 0;
		padding-left: 1em;
		float: left;
		width: 80%;
		margin-left: -1px;
		border-left: 1px solid $global-light-grey;
	}
}

.tabheader {
	font-size: 18px;
	text-decoration: underline;
	color: black;
}

// .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
//    background-color:#ddd;
//}

div.learn_gallery_page {
	width: 100%;
	margin: 0;
	padding: 0;
	padding-left: 4px;
	text-align: center;
	.content_cell {
		width: 30%;
		height: 250px;
		padding: 0;
		margin: 0 6px 24px 6px;
		vertical-align: top;
		display: block;
		text-align: left;
		float: left;
		border: 1px solid $global-light-grey;
		border-radius: 10px;
		p {
			margin: 0;
			padding: 0;
		}
		h3 {
			margin: 4px;
			padding: 0;
			font-size: 14px;
			font-weight: 700;
		}
		.thumbnail {
			width: 100%;
			height: 150px;
			border-radius: 10px 10px 0 0;
		}
		.thumbnail_caption {
			color: black;
			font-size: 11px;
			line-height: normal;
			margin: 4px;
		}
	}
	.hover_cell {
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		transition: box-shadow 0.3s ease-in-out;
	}
}


.discover-gallery {
	display: flex;
	visibility: collapse;
}

.discover-grid {
	display: grid;
	grid-gap: 18px 15px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	/* grid-template-columns: auto auto auto auto; */
	align-items: start;
	width: 800px;
}

.discover-grid-row {
	grid-auto-rows: 226px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.discover-item {
	display: block;
	min-height: 226px;
	background-color: #fff;
	/* border: 1px solid #b0b0b0; */
	/* border-radius: 5px; */
	color: black;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.025) 0px 15px 20px -1px;
	overflow: hidden;
	position: relative;
}

/* different naming format otherwise vue.js breaks */
.discoverItemHighlight {
	/* box-shadow: 0 4px 0 #a0a0a0, 0 10px 8px rgba(0, 0, 0, .1);*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.discover-item-focused {
	z-index: 1;
}

.discover-highlight {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.discover-thumbnail {
	overflow: hidden;
	cursor: pointer;
}

.discover-thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 135px;
}

.discover-thumbnail-dim {
	-webkit-filter: saturate(0.7);
	filter: saturate(0.7);
}

.discover-info {
	padding: 5px 10px 5px 10px;
}

.discover-info-new {
	display: none;
	float: left;
	color: white;
	background: #dc3545;
	border-radius: 3px;
	margin-top: 3px;
	margin-right: 5px;
	text-align: center;
	font-size: 12px;
	padding: 0 5px 0px 5px;
}

.discover-info-new-ok {
	display: none;
	padding: 0 5px 0 5px;
	border-radius: 0 3px 3px 0;
}

.discover-info-new-ok:hover {
	background: #a70010;
	cursor: pointer;
}

.discover-info-new-ok img {
	width: 11px;
	margin: 0px;
	vertical-align: middle;
	padding-bottom: 2px;
}

.discover-info-title,
.discover-info-title:visited,
.discover-info-title:hover {
	display: block;
	color: #111;
	font-size: 1em;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	max-width: 300px;
	cursor: pointer;
}

.discover-info-subtitle {}

.discover-info-author ,
.discover-info-author:visited,
.discover-info-author:hover {
	display: block;
	height: 1.5em;
	margin: 0 0 3px 0;
	color: #a70010;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.discover-item.discover-item-focused .discover-info-title,
.discover-item.discover-item-focused .discover-info-author {
	white-space: unset;
	overflow: unset;
	text-overflow: unset;
}

.discover-info-extra {
	display: none;
	margin-top: 5px;
	color: #828282;
	font-size: 13px;
}

.discover-info-extra-open {
	display: block;
}

.discover-info-extra p {
	color: #828282;
	font-size: 13px;
	margin-bottom: 0;
}

.discover-info-tags {
	display: block;
	margin: 0 0 3px 0;
	padding: 0;
}

.discover-info-tags-short {
	height: 1.5em;
	overflow: hidden;
}

.discover-info-tag {
	display: inline-block;
	border: 1px solid #d0d0d0;
	border-radius: 2px;
	margin-right: 5px;
	color: #828282;
	text-align: center;
	font-size: 12px;
	padding: 0 5px 0px 5px;
}

.discover-info-tag:hover {
	cursor: pointer;
	border: 1px solid #111;
}

.discover-info-kindtag {
	display: none;
	border: 1px solid #111;
	border-radius: 2px;
	margin-right: 5px;
	color: #111;
	text-align: center;
	font-size: 12px;
	padding: 0 5px 0px 5px;
}

.discover-info-kindtag:hover {
	cursor: pointer;
	color: white;
	border: 1px solid #111;
	background-color: #111;
}

.discover-filters-box {
	position: sticky;
	top: 100px;
	min-width: 15%;
	max-width: 15%;
	height: 100%;
	background-color: white;
	border: none;
	border-radius: 5px;
	margin: 0 30px 50px 0;
	padding: 0;
}

.discover-filters {
	display: block;
	margin: 0;
	padding: 0;
}

.discover-filter {
	display: block;
	/* height: 26px; */
	font-size: 13px;
	border-left: 3px solid transparent;
	width: 100%;
}

.discover-filter-featured-icon {
	width: 16px;
	float: right;
	vertical-align: middle;
	margin-top: 4px;
	margin-right: 5px;
}

.discover-filter-new-icon {
	margin-top: 2px;
	width: 12px;
}

.discover-filter-name {
	padding: 2px 10px 2px 10px;
}

.discoverFilterGray {
	color: #828282;
}

.discoverFilterRed {
	color: #dc3545;
}

.discoverFilterGray:hover {
	background-color: $global-light-grey;
	cursor: pointer;
}

.discoverFilterRed:hover {
	color: white;
	border: 1px solid #dc3545;
	background-color: #dc3545;
	cursor: pointer;
}

.discoverFilterGray.active-filter {
	border-left-color: #888;
    font-weight: 800;
    color: #333;
}

.discoverFilterRed.active-filter {
	color: white;
	border: 1px solid #dc3545;
	background-color: #dc3545;
}

.discover-unmarkall {
	float: right;
    height: 20px;
    color: #fff;
    background: #dc3545;
    font-size: 13px;
    border-radius: 0 1px 1px 0;
    padding: 1px 4px;
}

.discover-unmarkall:hover {
	background: #a70010;
	cursor: pointer;
}

.discover-search {
	display: block;
	width: 100%;
	height: 30px;
	margin: 10px 0px;
	padding: 2px 5px;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	background: white;
	font-size: 13px;
}

.discover-feature-badge {
    display: block;
    float: right;
    border-top: 2px solid #0000;
    text-align: right;
    position: relative;
    bottom: 60px;
}

.discover-feature-badge img {
	width: 22px;
	margin: 0;
}

.learn-title {
	display: none;
}

.learn-tagbox-hidden {
	height: 24px;
	overflow: hidden;
}

.learn-tagbox-expanded {
	height: fit-content;
	overflow: visible;
}

@media only screen and (max-width: 1145px) {
	.discover-filters-box {
		position: unset;
		margin: 0 0 10px 0;
	}

	.discover-filter {
		display: inline-block;
	}

	.discover-filter-featured-icon {
		max-width: unset;
		float: none;
		margin-top: -2px;
	}
}

@media only screen and (max-width: 768px) {
	.learn-title {
		display: inline-block;
	}

	.discover-gallery {
		flex-direction: column;
	}
	.discover-filters-box {
		display: unset;
		max-width: none;
		max-width: none;
		width: auto;
	}
}

@media only screen and (max-width: 600px) {
	.discover-grid {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-auto-rows: unset;
		width: auto;
	}

	.discover-info-extra {
		display: block;
	}
}

@media only screen and (max-width: 435px) {
	.discover-grid {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-auto-rows: unset;
		width: auto;
	}

	.discover-info-extra {
		display: block;
	}
}

/* This is an override to the Card Class from _card.scss.  The card class spacing is to limiting. This class is named to be temporary.*/
/* TODO:: Dan wanted to fix card styling to handle spacing without overrides */
/* These max width media quesries control how many cards can show up on one row */
.learn-card-override {
	max-width: none;
 }

/*  partial copy from netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css  */


.modal-open {
	overflow: hidden;
  }
  
  .modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
  }
  
  .modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
  }
  
  .modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
  }
  
  .modal.fade .modal-dialog {
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	-webkit-transform: translate(0, -50px);
	transform: translate(0, -50px);
  }
  
  @media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
	  transition: none;
	}
  }
  
  .modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none;
  }
  
  .modal-dialog-scrollable {
	display: -ms-flexbox;
	display: flex;
	max-height: calc(100% - 1rem);
  }
  
  .modal-dialog-scrollable .modal-content {
	max-height: calc(100vh - 1rem);
	overflow: hidden;
  }
  
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
	-ms-flex-negative: 0;
	flex-shrink: 0;
  }
  
  .modal-dialog-scrollable .modal-body {
	overflow-y: auto;
  }
  
  .modal-dialog-centered {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100% - 1rem);
  }
  
  .modal-dialog-centered::before {
	display: block;
	height: calc(100vh - 1rem);
	content: "";
  }
  
  .modal-dialog-centered.modal-dialog-scrollable {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
	max-height: none;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable::before {
	content: none;
  }
  
  .modal-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
  }
  
  .modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
  }
  
  .modal-backdrop.fade {
	opacity: 0;
  }
  
  .modal-backdrop.show {
	opacity: 0.5;
  }
  
  .modal-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
  }
  
  .modal-header .close {
	padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
	margin-bottom: 0;
	display: block;
    color: #111;
    font-size: 1em;
    font-weight: 500;
  }
  
  .modal-body {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1rem;
  }
  
  .modal-footer {
	padding: 1rem;
	margin-top: 5px;
    color: #828282;
    font-size: 13px;
  }
  
  .modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
  }
  
  @media (min-width: 576px) {
	.modal-dialog {
	  max-width: 800px;
	  margin: 1.75rem auto;
	}
	.modal-dialog-scrollable {
	  max-height: calc(100% - 3.5rem);
	}
	.modal-dialog-scrollable .modal-content {
	  max-height: calc(100vh - 3.5rem);
	}
	.modal-dialog-centered {
	  min-height: calc(100% - 3.5rem);
	}
	.modal-dialog-centered::before {
	  height: calc(100vh - 3.5rem);
	}
	.modal-sm {
	  max-width: 300px;
	}
  }
  button {
	border-radius: 0;
  }
  
  button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
  }
  
  button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
  }
  
  button,
  input {
	overflow: visible;
  }
  
  button,
  select {
	text-transform: none;
  }
  
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
	-webkit-appearance: button;
  }
  
  
  button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  }
  
  .btn {
	display: inline-block;
	height: 36px;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 0px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 0.8rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
  }
  
  
  .btn:hover {
	color: #212529;
	text-decoration: none;
  }
  
  .btn:focus, .btn.focus {
	outline: 0;
  }
  
  .btn-primary {
	color: #fff;
	background-color: #900;
  }
  
  .btn-primary:hover {
	color: #fff;
	background-color: #900;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
	color: #cacaca;
	background-color: #859099;
  }
  
  .btn-secondary {
	color: #fff;
	background-color: #6c757d;
  }
  
  .btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
  }
  
  .btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  }
  
  .btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
  }
  
