---
layout: bootstrap
---

<div class="container-fluid">

<div class="row-fluid">
    <!--Nav Bar -->
    {% include sidebar.html %}

    <!--Main Content -->
    <div class="col-xs-12 col-md-9">
      <!--<div class="post">-->

        <article class="post-content">
          <ol class="breadcrumb">
              {% assign api = page.apis[0] %}
              <li><a href="{{ site.baseurl }}/guides/#{{ api | downcase }}">{{ api }}</a></li>
              {% if page.categories != page.apis %}
              <li class="active">{{ page.categories }}</li>
              {% endif %}
          </ol>

          {{ content }}
        </article>

      <!--</div>-->

    </div>
</div>
</div>
