---
layout: bootstrap
---

<div class="container-fluid">

<div class="row-fluid">
    <!--Nav Bar -->
    {% include sidebar.html %}

    <!--Main Content -->
    <div class="col-xs-12 col-md-9">
      <!--<div class="post">-->

        <article class="post-content">
          <ol class="breadcrumb">
              {% assign api = page.apis[0] %}
              {% assign api_url = api | downcase %}
              {% if api_url == 'c/c++' %}{% assign api_url = 'cpp' %}{% endif %}
              <li><a href="{{ site.baseurl }}/guides/{{ api_url }}">{{ api }}</a></li>
              {% if page.categories != page.apis %}
			    {% if page.guide_homepage %}
			      <li class="active"><a href="{{site.baseurl}}{{page.guide_homepage}}">{{ page.categories }}</a></li>
			    {% else %}
                  <li class="active">{{ page.categories }} page cat = {{page.guide_homepage}}</li>
                {% endif %}
              {% endif %}			  
          </ol>

          <h1>{{ page.title }}</h1>

          <p>{% include byline.html %}</p>

          <p>{{ page.description }}</p>

          {{ content }}
        </article>

      <!--</div>-->

    </div>
</div>
</div>
