{{- $.Scratch.Set "section" "guides" -}}
{{- $.Scratch.Set "sdk" "" -}}
{{- $.Scratch.Set "category" "" -}}
{{- $.Scratch.Set "sort-by" "weight" -}}
{{- $.Scratch.Set "version" "" -}}
{{- $.Scratch.Set "fallbacklang" "en" -}}

{{- if .IsNamedParams -}}
    {{- if .Get "section" -}}{{- $.Scratch.Set "section" (.Get "section") -}}{{- end -}}
    {{- if .Get "sdk" -}}{{- $.Scratch.Set "sdk" (.Get "sdk") -}}{{- end -}}
    {{- if .Get "category" -}}{{- $.Scratch.Set "category" (.Get "category") -}}{{- end -}}
    {{- if .Get "sort-by" -}}{{- $.Scratch.Set "sort-by" (.Get "sort-by") -}}{{- end -}}
    {{- if .Get "included_in.version" -}}{{- $.Scratch.Set "version" (.Get "included_in.version") -}}{{- end -}}
    {{- if .Get "fallbacklang" -}}{{- $.Scratch.Set "fallbacklang" (.Get "fallbacklang") -}}{{- end -}}
{{- else -}}
    {{- if .Get 0 -}}{{- $.Scratch.Set "section" (.Get 0) -}}{{- end -}}
    {{- if .Get 1 -}}{{- $.Scratch.Set "sdk" (.Get 1) -}}{{- end -}}
    {{- if .Get 2 -}}{{- $.Scratch.Set "category" (.Get 2) -}}{{- end -}}
    {{- if .Get 2 -}}{{- $.Scratch.Set "sort-by" (.Get 3) -}}{{- end -}}
    {{- if .Get 4 -}}{{- $.Scratch.Set "version" (.Get 4) -}}{{- end -}}
    {{- if .Get 5 -}}{{- $.Scratch.Set "fallbacklang" (.Get 5) -}}{{- end -}}
{{- end -}}

<ul>
<!-- This is a dirty hack to get the guides page to render correctly in localized versions where the files
 are missing for that language...ideally, we wouldn't have to do this and should find a better way -->
{{- range where (where site.AllPages ".Lang" ($.Scratch.Get "fallbacklang")) "Section" ($.Scratch.Get "section") -}}
        {{- if in .Params.sdk ($.Scratch.Get "sdk") -}}
            {{- if or (and ( ge ($.Scratch.Get "version") .Params.Included_in.Since) ( or (not .Params.Included_in.Until) ( lt ($.Scratch.Get "version") .Params.Included_in.Until))) (not ($.Scratch.Get "version")) -}}
                {{- if in .Params.categories ($.Scratch.Get "category") -}}
<li><a href="{{ .RelPermalink }}" title="{{ .Description }}">{{ .Title }}</a></li>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
</ul>
