{{ range .Site.Data.rhinoscriptsyntax }}
  {{ $module := . }}
  
  <h2 id="{{$module.ModuleName}}">{{ $module.ModuleName }}</h2>

  {{ range $module.functions }}
    
    <a role="button" class="code_accordion" onclick="window.location.hash = '#{{.ModuleName}}-{{.Name}}';"><div id="{{.ModuleName}}-{{.Name}}">{{ .Name }}</div></a>

    <div class="code_panel">
      <pre style="white-space: pre-wrap;"><code class="language-python">{{ .Signature }}</code></pre>

      <span>{{ .Description }}</span>
      
      {{ if .HasArguments }}
      <h5>Parameters:</h4>
      <div>
        <pre style="white-space: pre-wrap;">{{ .ArgumentDesc }}</pre>
      </div>
      {{ end }}

      <h5>Returns:</h5>
      <div>
        <pre style="white-space: pre-wrap;">{{ .ReturnStr }}</pre>
      </div>

      {{ with .ExampleString }}
      <h5>Example:</h5>
      <div>
        <pre style="white-space: pre-wrap;"><code class="language-python">{{ . }}</code></pre>
      </div>
      {{ end }}

      {{ if gt (len .SeeAlso) 0 }}
      <h5>See Also:</h5>
      <ul>
        {{ range .SeeAlso }}
          <!-- <li><a href="#{{ $module.ModuleName }}-{{ .FunctionName }}">{{ .FunctionName }}</a></li>-->
          <li><a role="button" onclick="$('#{{.ModuleName}}-{{ .FunctionName }}').click(); location.hash = '#{{.ModuleName}}-{{ .FunctionName }}';">{{ .FunctionName }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
      <br/>
    </div>
  {{ end }}
{{ end }}

<script type="text/javascript">
  function toggleAccordion(accordionBtn) {
    accordionBtn.classList.toggle('active');
    var panel = accordionBtn.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }

  function expandAccordion(accordionBtn) {
    if (accordionBtn.className.includes('active')) return;
    accordionBtn.classList.add('active');
    const panel = accordionBtn.nextElementSibling;
    panel.style.maxHeight = panel.scrollHeight + "px";
  }

  // the code in this event runs when double-clicking
  // on a function name in the Rhino.Python function browser
  addEventListener('DOMContentLoaded', event => {
    console.log('Document loaded dude');
    const idx = window.location.href.lastIndexOf('#');
    if (idx == -1) return;

    const id = window.location.href.slice(idx+1)
    if (!id.includes('-')) return;

    const element = document.getElementById(id);
    if (element == null) return;

    const accordionBtn = element.parentElement;
    expandAccordion(accordionBtn);
  });

  var acc = document.getElementsByClassName("code_accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      toggleAccordion(this);
    });
  }
</script>