<input type="text" class="form-control" id="rsssearch" placeholder="Search" aria-labelledby="Search">
<div class="popover" id="rsssearch_popover">
  <div class="popover-content">
      <ul class="list-unstyled" id="rsssearch_list" style="margin-left: 0; list-style-type: none;">
      </ul>
  </div>
</div>
{{ range .Site.Data.rhinoscriptsyntax }}
  {{ $module := . }}
  
  <h2 id="{{$module.ModuleName}}">{{ $module.ModuleName }}</h2>

  {{ range $module.functions }}
    
    <a role="button" class="code_accordion" onclick="scrollUpAndToggleExpansion('{{.ModuleName}}-{{.Name}}');">
      <div id="{{.ModuleName}}-{{.Name}}">{{ .Name }}</div>
    </a>

    <div class="code_panel">
      <pre style="white-space: pre-wrap;"><code class="language-python">{{ .Signature }}</code></pre>

      <span>{{ .Description }}</span>
      
      {{ if .HasArguments }}
      <h5>Parameters:</h4>
      <div>
        <pre style="white-space: pre-wrap;">{{ .ArgumentDesc }}</pre>
      </div>
      {{ end }}

      <h5>Returns:</h5>
      <div>
        <pre style="white-space: pre-wrap;">{{ .ReturnStr }}</pre>
      </div>

      {{ with .ExampleString }}
      <h5>Example:</h5>
      <div>
        <pre style="white-space: pre-wrap;"><code class="language-python">{{ . }}</code></pre>
      </div>
      {{ end }}

      {{ if gt (len .SeeAlso) 0 }}
      <h5>See Also:</h5>
      <ul>
        {{ range .SeeAlso }}
          <li><a role="button" onclick="scrollUpAndExpand('{{.ModuleName}}-{{.FunctionName}}');">{{ .FunctionName }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
      <br/>
    </div>
  {{ end }}
{{ end }}

<script type="text/javascript">
  function toggleAccordion(accordionBtn) {
    accordionBtn.classList.toggle('active');
    var panel = accordionBtn.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }

  function expandAccordion(accordionBtn) {
    if (accordionBtn.className.includes('active')) return;
    accordionBtn.classList.add('active');
    const panel = accordionBtn.nextElementSibling;
    panel.style.maxHeight = panel.scrollHeight + "px";
  }

  // the code in this event runs when double-clicking
  // on a function name in the Rhino.Python function browser
  addEventListener('DOMContentLoaded', event => {
    const idx = window.location.href.lastIndexOf('#');
    if (idx == -1) return;

    const id = window.location.href.slice(idx+1)
    if (!id.includes('-')) return;

    const element = document.getElementById(id);
    if (element == null) return;

    const accordionBtn = element.parentElement;
    expandAccordion(accordionBtn);
  });

  function scrollUpAndExpand(id) {
      $("#rsssearch_popover").slideUp(1);
      location.hash = "#" + id;
      const element = document.getElementById(id).parentElement;
      expandAccordion(element);
  }
  function scrollUpAndToggleExpansion(id) {
      $("#rsssearch_popover").slideUp(1);
      location.hash = "#" + id;
      const element = document.getElementById(id).parentElement;
      toggleAccordion(element);
  }

  /// search box section //////////////////////////////
  var searchResultClick;
  addEventListener('DOMContentLoaded', function () {
    window.rssdata = {{ .Site.Data.rhinoscriptsyntax }};

   // position and hide popover
   $prev = $("#rsssearch_popover").prev();
   $("#rsssearch_popover")
     .css("top", $prev[0].offsetTop + $prev.outerHeight(true) + 1)
     .hide();
   $("body").on("click", function (e) {

     if (e.target.id !== "rsssearch") {
         $("#rsssearch_popover").slideUp(100);
     }
   });

   searchResultClick = function (mn, fn) {
     $("#rsssearch_popover").slideUp(1);
     const element = document.getElementById(mn + "-" + fn);
     expandAccordion(element.parentElement);
     location.hash = "#" + mn + "-" + fn;
   }
   $("#rsssearch").on("keyup input", function (e) {

     var currentVal = $(this).val().toLowerCase();
     var $searchList = $("#rsssearch_list");
     $searchList.empty();

     if (currentVal.length < 2) {
       $("#rsssearch_popover").slideUp(100);
       return;
     }

     let searchResults = rssdata
       .map(m => m.functions.filter(f => f.Name.toLowerCase().includes(currentVal)))
       .reduce((x,y) => x.concat(y))
       .slice(0,30)
       .map(f => ({mn: f.ModuleName, fn: f.Name, idx: f.Name.toLowerCase().indexOf(currentVal)}));

     if (searchResults.length == 0) {
       $searchList.append($("<li class='edsAppGrayColor'>nothing found</li>"));
     }
     else {
       searchResults.forEach(o => {
         let text = o.fn.substring(0, o.idx) + "<span class='searchMatchSubstring'>" +
           o.fn.substring(o.idx, o.idx + currentVal.length) + "</span>" +
           o.fn.substring(o.idx + currentVal.length);
         let $a = $("<a></a>")
           .attr("role", "button")
           .attr("onclick", "searchResultClick('" + o.mn + "', '" + o.fn + "');")
           .attr("href", "#" + o.mn + "-" + o.fn)
           .html(text);
         $searchList.append($("<li></li>").append($a));
       });
     }
     $("#rsssearch_popover").slideDown(100);
   });
  });
  /// search box section //////////////////////////////
</script>