{{- $.Scratch.Set "caption-position" "bottom" -}}

{{- if .Get 4 -}}
    {{- if .Get 4 -}}
        {{ if or (eq (.Get 4) "top") (eq (.Get 4) "bottom") }}
            {{- $.Scratch.Set "caption-position" (.Get 4) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- if eq ($.Scratch.Get "caption-position") "top" -}}
    {{ if .Get 2 }}
    <div id="textbox">
        <p style="float: left; text-align:left;">{{ .Get 2 | .Page.RenderString }}</p>
        <p style="float: right; text-align:right;">{{ if .Get 3 }}{{ .Get 3 | .Page.RenderString }}{{ end }}</p>
    </div>
    <div style="clear: both;"></div>
    {{ end }}
{{- end -}}

{{- $beforeImageName := .Get 0 -}}
{{- $.Scratch.Set "beforeImageURL" "" }}
{{- $afterImageName := .Get 1 -}}
{{- $.Scratch.Set "afterImageURL" "" }}

{{- if or (hasPrefix $beforeImageName "http://") (hasPrefix $beforeImageName "https://") (hasPrefix $beforeImageName "/") -}}
    {{- $.Scratch.Set "beforeImageURL" $beforeImageName }}
{{- else -}}
    {{- $beforeImage := .Page.Resources.GetMatch $beforeImageName -}} 
    {{- if $beforeImage -}}
        {{- $.Scratch.Set "beforeImageURL" $beforeImage.RelPermalink }}
    {{- end -}}
{{- end -}}

{{- if or (hasPrefix $afterImageName "http://") (hasPrefix $afterImageName "https://") (hasPrefix $afterImageName "/") -}}
    {{- $.Scratch.Set "afterImageURL" $afterImageName }}
{{- else -}}
    {{- $afterImage := .Page.Resources.GetMatch $afterImageName -}} 
    {{- if $afterImage -}}
        {{- $.Scratch.Set "afterImageURL" $afterImage.RelPermalink }}
    {{- end -}}
{{- end -}}

<div class="twentytwenty-container">
    <img alt="Before" src="{{ $.Scratch.Get "beforeImageURL" }}"/>
    <img alt="After" src="{{ $.Scratch.Get "afterImageURL" }}"/>
</div>

<div class="twentytwenty-container-print container-print">
    <div class="column-print">
        <img class="img-print" alt="Before" src="{{ $.Scratch.Get "beforeImageURL" }}"/>
    </div>
    <div class="column-print">
        <img class="img-print" alt="After" src="{{ $.Scratch.Get "afterImageURL" }}"/>
    </div>
</div>

{{- if eq ($.Scratch.Get "caption-position") "bottom" -}}
    {{ if .Get 2 }}
    <div id="textbox">
        <p style="float: left; text-align:left;">{{ .Get 2 | .Page.RenderString }}</p>
        <p style="float: right; text-align:right;">{{ if .Get 3 }}{{ .Get 3 | .Page.RenderString }}{{ end }}</p>
    </div>
    <div style="clear: both;"></div>
    {{ end }}
{{- end -}}

