{{ $url := "" }}
{{ $alt := "" }}
{{ $class := "" }}
{{ $width := "" }}
{{ $height := "" }}
{{ if .IsNamedParams }}
    {{ if .Get "url" }}{{ $url = .Get "url" }}{{ end }}
    {{ if .Get "alt" }}{{ $alt = .Get "alt" }}{{ end }}
    {{ if .Get "class"}}{{ $class = .Get "class" }}{{ end }}
    {{ if .Get "width"}}{{ $width = .Get "width" }}{{ end }}
    {{ if .Get "height"}}{{ $height = .Get "height" }}{{ end }}
{{ else }}
    {{ $url = .Get 0 }}
    {{ if .Get 1 }}{{ $class = .Get 1 }}{{ end }}
{{ end }}


{{- $imageName := $url -}}
{{- $.Scratch.Set "imageURL" "" }}

{{- if or (hasPrefix $imageName "http://") (hasPrefix $imageName "https://") (hasPrefix $imageName "/") -}}
    {{- $.Scratch.Set "imageURL" $imageName }}
{{- else -}}
    {{- $image := .Page.Resources.GetMatch $imageName -}} 
    {{- if $image -}}
        {{- $.Scratch.Set "imageURL" $image.RelPermalink }}
    {{- end -}}
{{- end -}}

<img src="{{ $.Scratch.Get "imageURL" }}" alt="{{ $alt }}" class="{{ $class }}" width="{{ $width }}" height="{{ $height }}">
