{{- $englishCommand := "" -}}
{{- $localCommand := "" -}}
{{- $imageName := "" -}}
{{- $version := "" -}}
{{- $platform := "" -}}
{{- if .IsNamedParams -}}
    {{- if .Get "english-command" -}}{{- $englishCommand = .Get "english-command" -}}{{- end -}}
    {{- $localCommand = (.Get "local-command" | default $englishCommand) -}}
    {{- $imageName = (.Get "image-name" | default $englishCommand) -}}
    {{- $version = (.Get "version" | default (string .Site.Params.latestRhinoVersion)) -}}
    {{- $platform = (.Get "platform" | default "win") -}}
{{- else -}}
    {{- $englishCommand = .Get 0 -}}
    {{- $localCommand = (.Get 1 | default $englishCommand) -}}
    {{- $imageName = (.Get 2 | default $englishCommand) -}}
    {{- $version = (.Get 3 | default (string .Site.Params.latestRhinoVersion)) -}}
    {{- $platform = (.Get 4 | default "win") -}}
{{- end -}}
{{- $docBase := printf "https://docs.mcneel.com/rhino/%s/help/%s" $version .Site.Params.docLang -}}
<a href="{{ $docBase }}/index.htm#commands/{{ lower $englishCommand }}.htm" target="_blank"><span style="display: inline-block;" class="unfurl-link" data-tooltip-href="{{ $docBase }}/unfurl/{{ lower $englishCommand }}.htm"><strong><img style="margin-top: -4px; padding-bottom: 2px; height: 24px; vertical-align: middle;" src="{{ $docBase }}/image/command_icons/{{ lower $imageName }}.png" onerror="this.onerror=null;this.style.display='none';"> {{ $localCommand }}</strong></span></a>
