{{ $englishCommand := "" }}
{{ $localCommand := ""}}
{{ $imageName := "" }}
{{ $version := "" }}
{{ $platform := "" }}

{{ if .IsNamedParams }}
    {{ if .Get "english-command" }}{{ $englishCommand = .Get "english-command" }}{{ end }}
    {{ $localCommand = (.Get "local-command" | default $englishCommand) }}
    {{ $imageName = (.Get "image-name" | default $englishCommand) }}
    {{ $version = (.Get "version" | default (string .Site.Params.latestRhinoVersion)) }}
    {{ $platform = (.Get "platform" | default "win") }}
{{ else }}
    {{ $englishCommand = .Get 0 }}
    {{ $localCommand = (.Get 1 | default $englishCommand) }}
    {{ $imageName = (.Get 2 | default $englishCommand)}}
    {{ $version = (.Get 3 | default (string .Site.Params.latestRhinoVersion)) }}
    {{ $platform = (.Get 4 | default "win") }}
{{ end }}


<a href="https://docs.mcneel.com/rhino/{{$version}}/help/{{.Site.Params.docLang}}/index.htm#commands/{{lower $englishCommand }}.htm" target="_blank">
<span style="display: inline-block;" class="unfurl-link">
    <strong>
        <img style="
        margin-top: -4px;
        padding-top: 2px;
        padding-bottom: 2px;
        height: 24px;
        vertical-align: middle;" src="https://docs.mcneel.com/rhino/{{$version}}/help/{{.Site.Params.docLang}}/image/command_icons/{{lower $imageName }}.png"
        onerror="this.onerror=null;this.style.display='none';"
        >
        {{ $localCommand }}
    </strong>

    <script>
        var parser = new DOMParser();
        var href = "https://docs.mcneel.com/rhino/{{$version}}/help/{{.Site.Params.docLang}}/unfurl/{{lower $englishCommand }}.htm"
        var scriptTag = document.getElementsByTagName('script');
        scriptTag = scriptTag[scriptTag.length - 1];
        var parentTag = scriptTag.parentNode;

        function addPreviewDiv(parent){ 
            const previewElement = document.createElement("span");
            previewElement.classList.add("tooltip");
            previewElement.classList.add("arrow-top");

            const iframeElement = document.createElement("iframe");
            iframeElement.src = href;
            iframeElement.style.width = "100%";
            iframeElement.style.height = "100%";
            iframeElement.style.border = "none";
            previewElement.appendChild(iframeElement);

            parent.appendChild(previewElement)
        }

        addPreviewDiv(parentTag)

    </script>
</span>
</a>


<style>
    .unfurl-link {
        display:inline-block;
        position:relative;
        border-bottom:1px dotted #666;
        text-align:left;
    }
    
    .unfurl-link h3 {margin:12px 0;}
    
    .unfurl-link .tooltip {
        width:max-content;
        top:0px;
        left:50%;
        transform:translate(-50%, 0);
        padding:10px;
        color:#666666;
        background-color:white;
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        box-shadow:0 1px 50px rgba(0,0,0,0.5);
        display:none;
    }
    
    .unfurl-link:hover .tooltip {
        display:block;
    }
    

    .tooltip.arrow-top {
        margin-top: 40px;
    }
      
    .tooltip.arrow-top:after {
        content: " ";
        position: absolute;
        left: inherit;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid white;
      }
    
    </style>