
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js" integrity="sha384-IEc/+MsamgT27OBODvDOuBIEae9ncji8P9p3YFhL8IcUUhyhabOWsASnyQFX/j9l" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js" integrity="sha384-ZvT4Vepz59SdkHMUWrcs/PCrR+S74FveDmkNPgV9eCw6sBW2UZv07KwdSi79pnsg" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js" integrity="sha384-k5qO2hqiOzvE5pqpY+ay9dt7au1vtSpkRH9R1Bi6HcSKwdcDyKK1cRMVPvOoNSC7" crossorigin="anonymous"></script>

<script>
    var startAnim = (id, sc, control) => {
        scrollPos = lastFrames[id]
    var vid = document.getElementById(`video-${id}`);
    sc.addTo(control)
    .duration(vid.clientHeight)
    .on("progress", (e) => {
        scrollPos = e.progress;
        currentFrames[id] = scrollPos;
    });
    }

    var preloadVid = (id, callback, animations, overlayAnimations) => {
        var vid = document.getElementById(`video-${id}`);
        var overlay = document.getElementById(`video-overlay-${id}`);
        currentFrames[id] = 0;
        lastFrames[id] = 0;
        var control = new ScrollMagic.Controller();
        var sc = new ScrollMagic.Scene({
        triggerElement: `#video-${id}`,
        triggerHook: 0.5
        })
        sc.on("enter", (e) => {
            // Initial animation by removing effect classes
            animations.forEach(animation =>{
                vid.classList.remove(animation); 
            })
            overlayAnimations.forEach(animation =>{
                overlay.classList.remove(animation); 
            })
        });
    const ready = () => {
    vid.removeEventListener('canplaythrough', ready);
    let i = setInterval(() => {
        vid.pause();
        if(vid.readyState > 3) {
        clearInterval(i);
        vid.currentTime = 0;
        callback(id, sc, control);
        }
    }, 50)
    }

    vid.addEventListener('canplaythrough', ready, false);
    vid.play();
    }
</script>

<style>
    .scroll-video-container {
        position: relative;
        width: 100%;
        overflow: hidden;
      }
      .scroll-video {
        position: relative;
        width: 100%;
        transition: all .75s ease-in-out;
      }
      .scroll-video-overlay {
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all .75s ease-in-out;
      }
      .fade {
        opacity: 0;  
    }
    .zoom {
        scale: 0;  
    }
    .perspective-bottom {
        transform: perspective(300px) rotatex(45deg);
        transform-origin: bottom center;
    }
    .right {
        transform: translate(100%, 0);
    }
    .left {
        transform: translate(-100%, 0);
    }
    

</style>

<script>
    setInterval(() => {
        requestAnimationFrame(() => {
            for (const [key, value] of Object.entries(currentFrames)){
                if(lastFrames[key] == currentFrames[key]){
                    continue;
                }
                //console.log("setting frame for video:", key, "to:", value )
                var vid = document.getElementById(`video-${key}`);
                if (vid){
                    vid.currentTime = vid.duration * value;
                    vid.pause();
                    lastFrames[key] = value;
                }
            }
            });
      }, 60);
</script>

