
{{- $titleOverride := "" -}}
{{- $descriptionOverride := "" -}}
{{- $imageOverride := "" -}}   
{{- if .Get "title-override"}}{{- $titleOverride =  .Get "title-override" -}}{{- end -}}
{{- if .Get "description-override"}}{{- $descriptionOverride =  .Get "description-override" -}}{{- end -}}
{{- if .Get "image-override"}}{{- $imageOverride =  .Get "image-override" -}}{{- end -}}

<span class="unfurl-link">
    {{ .Inner | .Page.RenderString }}
    <script>
        var parser = new DOMParser();
        var linkDoc = parser.parseFromString("{{(.Inner | .Page.RenderString) }}", 'text/html');
        var href = linkDoc.querySelector('a').getAttribute('href');

        //the current <script> element is also the last <script> element, at the time of execution. https://stackoverflow.com/questions/10299846/obtain-a-reference-to-script-parent-element
        var scriptTag = document.getElementsByTagName('script');
        scriptTag = scriptTag[scriptTag.length - 1];
        var parentTag = scriptTag.parentNode;

        function addPreviewDiv(parent){ 

            const previewElement = document.createElement("span");
            previewElement.classList.add("tooltip");
            previewElement.classList.add("arrow-top");

            const imageElement = document.createElement("img");
            previewElement.appendChild(imageElement);

            const titleElement = document.createElement("b");
            previewElement.appendChild(titleElement)
            previewElement.appendChild(document.createElement("br"))

            const descriptionElement = document.createElement("span");
            previewElement.appendChild(descriptionElement)

            parent.appendChild(previewElement)

            $.ajax({
                  type: 'GET', 
                  url: href,
                  dataType: 'html',
                  success: function(data) {
                    let parser = new DOMParser();
                    let remoteDoc = parser.parseFromString(data, 'text/html');
                    console.log("remote doc:", remoteDoc, "for", href)
                    let titleMeta = remoteDoc.querySelector('meta[property="og:title"]');
                    let imageMeta = remoteDoc.querySelector('meta[property="og:image"]');
                    let descriptionMeta = remoteDoc.querySelector('meta[property="og:description"]');

                    const title = titleMeta ? titleMeta.content : null
                    const image = imageMeta ? imageMeta.content : null
                    const description = descriptionMeta ? descriptionMeta.content : null

                    if (image){
                    imageElement.src = image;
                    }

                    if (title){
                    titleElement.innerHTML = title;
                    }

                    if (description){
                    descriptionElement.innerHTML = description;
                    }

                  },
                  error: function (xhr, status, error) {
                    if(error){
                        console.log("error getting link preview for:", href, status, error)
                    }
                  }
            }).then(()=>{
                
            }).always(() => {
                //Apply overrides
                if ("{{$titleOverride}}"){
                    titleElement.innerHTML = "{{$titleOverride}}";
                }
                if ("{{$imageOverride}}"){
                    imageElement.src = "{{$imageOverride}}";
                }
                if ("{{$descriptionOverride}}"){
                    descriptionElement.innerHTML = "{{$descriptionOverride}}";
                }
            });
        }

        addPreviewDiv(parentTag)

    </script>
</span>


<style>
    .unfurl-link {
        display:inline-block;
        position:relative;
        border-bottom:1px dotted #666;
        text-align:left;
    }
    
    .unfurl-link h3 {margin:12px 0;}
    
    .unfurl-link .tooltip {
        width:200px;
        top:0px;
        left:50%;
        transform:translate(-50%, 0);
        padding:20px;
        color:#666666;
        background-color:white;
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        box-shadow:0 1px 50px rgba(0,0,0,0.5);
        display:none;
    }
    
    .unfurl-link:hover .tooltip {
        display:block;
    }
    
    .unfurl-link .tooltip img {
        width:400px;
    }

    .tooltip.arrow-top {
        margin-top: 40px;
    }
      
    .tooltip.arrow-top:after {
        content: " ";
        position: absolute;
        left: 93px;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid white;
      }
    
    </style>